extends ../layout.pug

block content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1 Thông tin Đơn hàng
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='#') Trang chủ
              li.breadcrumb-item.active Thông tin Đơn hàng
      // /.container-fluid
    // Main content
    section.content
      .container-fluid
        .row
          .col-12             
            .card
              // /.card-header
              .card-body

                table#tab-orderManager.table.table-bordered.table-striped
                  thead
                    tr.text-center
                      th STT
                      th Mã đơn hàng
                      th Số tiền 
                      th Trạng thái
                      th Thời gian
                      th Thao tác
                  tbody 
                    each orderManager, index in orderManagerList
                      tr.text-center
                        td= index + 1
                        td= orderManager.id
                        td= orderManager.total
                        if orderManager.orderStatus === true
                            td= "Đã thanh toán"
                        else if orderManager.orderStatus === false
                            td= "Chưa thanh toán"
                        td= moment(orderManager.createAt).format('L')
                        td.text-center
                            btn.btn-detail.btn.btn-danger.btn-xs(style="margin-right: 5px", data-order-id = orderManager.id data-stt = index+1, data-total = orderManager.total, data-order-status = orderManager.orderStatus===true?1:0, data-time = moment(orderManager.time).subtract(10, 'days').calendar())
                                i.fas.fa-history
                            btn.btn-delete.btn.btn-danger.btn-xs(style="margin-right: 5px", data-id = orderManager.id)
                                i.fas.fa-trash
                            
                #DetailOrderManagerModal.modal.fade(role='dialog' aria-labelledby='DetailOrderManagerModal' aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title Thông tin chi tiết đơn hàng
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            form
                                .modal-body
                                    .row 
                                        .col-md-6
                                            .form-group
                                                label Số thứ tự
                                                input.form-control(type='text' placeholder='STT' name = 'stt', readonly)
                                        .col-md-6
                                            .form-group
                                                label Tổng số tiền
                                                input.form-control(type='text' placeholder='Số tiền' name = 'total', readonly)
                                    .row
                                        .col-md-6
                                            .form-group
                                                label Trạng thái
                                                input.form-control(type='text', name = 'order-status', readonly)
                                        .col-md-6
                                            .form-group
                                                label Thời gian
                                                input.form-control(type='text', name = 'time', readonly)
                                    .row
                                        .col-md-12
                                            table#detailModal.table.table-bordered.table-striped
                                              thead
                                                tr.text-center
                                                  th Tên sản phẩm
                                                  th Số lượng 
                                                  th Đơn giá
                                .modal-footer
                                    button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng lại

                #DeleteOrderManagerModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='DeleteOrderManagerModal' aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content.bg-danger
                            .modal-header
                                h5.modal-title Xóa
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            form(action="/orderManager/delete", method = "post")
                                .modal-body
                                    input(type="hidden", name="id")
                                    p Bạn chắc chưa ?
                                .modal-footer
                                    button.btn.btn-danger.btn-outline-light(type='button' data-dismiss='modal') Đóng lại
                                    button.btn.btn-danger.btn-outline-light(type='submit') Xác nhận
              // /.card-body
            // /.card
          // /.col
        // /.row
      // /.container-fluid
    // /.content
  // /.content-wrapper

block style 
    link(rel="stylesheet", href="/plugins/select2/css/select2.min.css")
    link(rel="stylesheet", href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css")
    link(rel="stylesheet", href="/plugins/custom/custom.css")
block script 
    script(src="/plugins/select2/js/select2.full.min.js")
    script(src="/js/admin/orderManager/index.js")
    script(src='/plugins/bs-custom-file-input/bs-custom-file-input.min.js')