extends ../layout.pug

block content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1 Quản lý Thực đơn
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='#') Trang chủ
              li.breadcrumb-item.active Quản lý Thực đơn
      // /.container-fluid
    // Main content
    section.content
      .container-fluid
        .row
          .col-12             
            .card
              // /.card-header
              .card-body
                .row
                  .col-md-10
                    // Button trigger modal
                    button.btn.btn-primary.custom-button(type='button' data-toggle='modal' data-target='#addDishModal')
                        | Thêm mới
                  .col-md-2
			  
                // Modal add dish
                #addDishModal.modal.fade(role='dialog' aria-labelledby='addDishModal' aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h5#adddishModal.modal-title Thêm mới
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            form#form-add-dish(action="/dish/add", method = "post", enctype='multipart/form-data')
                                .modal-body
                                    .row
                                        .col-md-6
                                            .form-group
                                                label Tên sản phẩm
                                                input.form-control(type='text' placeholder='Tên sản phẩm' name='name')
                                        .col-md-6
                                            .form-group
                                                .row 
                                                label Đơn giá
                                                input.form-control(type='number' placeholder='Đơn giá' name='price')
                                    .row
                                        .col-md-6
                                            .form-group
                                                .row 
                                                label Loại sản phẩm
                                                input.form-control(type='text' placeholder='Loại sản phẩm' name='type')
                                        .col-md-6
                                            .form-group
                                                .row 
                                                label(for='exampleInputFile') Hình ảnh minh họa
                                                .input-group
                                                    input#exampleInputFile(type='file', name="image")
                                    .row
                                        .col-md-12
                                            .form-group
                                                .row 
                                                label Thông tin chi tiết
                                                input.form-control(type='text' placeholder='Thông tin chi tiết' name='info_detail')
                                .modal-footer
                                  button.btn.btn-primary(type='submit') Thêm mới 
                                  button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng lại
                table#tab-dish.table.table-bordered.table-striped
                  thead
                    tr.text-center
                      th STT
                      th Tên sản phẩm
                      th Đơn giá
                      th Thông tin chi tiết
                      th Loại sản phẩm
                      th Hình ảnh minh họa
                      th Thao tác
                  tbody 
                    each dish, index in dishList
                      tr.text-center(style="height:300px; line-height:300px; white-space: nowrap;")
                        td= index + 1
                        td= dish.name
                        td= dish.price
                        td= dish.info_detail
                        td= dish.type
                        td 
                            //- img(src='upload/milktea.png', alt='Image', width="500", height="600")
                            img(src= dish.image, alt='Image', height="300")
                        td.text-center
                          btn.btn-edit.btn.btn-primary.btn-xs(style="margin-right: 5px", data-id = dish.id, data-name = dish.name, data-price = dish.price, data-info_detail = dish.info_detail, data-type=dish.type, data-image=dish.image)
                            i.fas.fa-edit
                          btn.btn-delete.btn.btn-danger.btn-xs(style="margin-right: 5px", data-id = dish.id)
                            i.fas.fa-trash
                            
                #EditDishModal.modal.fade(role='dialog' aria-labelledby='EditDishModal' aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title Chỉnh sửa
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            form(action="/dish/edit",method="post", enctype='multipart/form-data') 
                                .modal-body
                                    .row     
                                        .col-md-6 
                                            .form-group
                                                input.form-control(type='text', name = 'id', hidden)
                                    .row
                                        .col-md-6
                                            .form-group
                                                label Tên sản phẩm
                                                input.form-control(type='text' placeholder='Tên sản phẩm' name='name')
                                        .col-md-6
                                            .form-group
                                                .row 
                                                label Đơn giá
                                                input.form-control(type='number' placeholder='Đơn giá' name='price')
                                    .row
                                        .col-md-6
                                            .form-group
                                                .row 
                                                label Loại sản phẩm
                                                input.form-control(type='text' placeholder='Loại sản phẩm' name='type')
                                        .col-md-6
                                            .form-group
                                                .row 
                                                label(for='exampleInputFile') Hình ảnh minh họa
                                                .input-group
                                                    input#exampleInputFile(type='file', name="image")
                                    .row
                                        .col-md-12
                                            .form-group
                                                .row 
                                                label Thông tin chi tiết
                                                input.form-control(type='text' placeholder='Thông tin chi tiết' name='info_detail')
                                .modal-footer
                                    button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng lại
                                    button.btn.btn-primary(type='submit') Cập nhật

                #DeleteDishModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='DeleteDishModal' aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content.bg-danger
                            .modal-header
                                h5.modal-title Xóa
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            form(action="/dish/delete", method = "post")
                                .modal-body
                                    input(type="hidden", name="id")
                                    p Bạn chắc chưa ?
                                .modal-footer
                                    button.btn.btn-danger.btn-outline-light(type='button' data-dismiss='modal') Đóng lại
                                    button.btn.btn-danger.btn-outline-light(type='submit') Xác nhận
              // /.card-body
            // /.card
          // /.col
        // /.row
      // /.container-fluid
    // /.content
  // /.content-wrapper

block style 
    link(rel="stylesheet", href="/plugins/select2/css/select2.min.css")
    link(rel="stylesheet", href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css")
    link(rel="stylesheet", href="/plugins/custom/custom.css")
block script 
    script(src="/plugins/select2/js/select2.full.min.js")
    script(src="/js/admin/dish/index.js")
    script(src='/plugins/bs-custom-file-input/bs-custom-file-input.min.js')